.App {
    text-align: center;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: calc(100% - 60px);
    /* height: 100%; */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

#App-header {
    background-color: white; /*#282c34*/
    min-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #282c34;
    /* margin-top: 60px; */
}

#App-header2 {
    background-color: white; /*#282c34*/
    min-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    color: #282c34;
    /* margin-top: 60px; */
}

#App-header3 {
    background-color: white; /*#282c34*/
    min-height: calc(100%);
    max-height: calc(100%);
    /* overflow-y: scroll; */
    overflow-x: hidden;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    color: #282c34;
    /* margin-top: 60px; */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* NAVBAR */
.navbar {
    background-color: #282c34;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    font-size: 26px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 44;
}

.errorContainer {
    background-color: rgba(255, 0, 0, 0.724);
    width: 60%;
    margin: auto;
    border-radius: 10px;
    margin: 20px auto 0 auto;
}

.EmojiPickerReact {
    position: fixed !important;
    bottom: 50px;
}

#errorMessage {
    margin: auto;
    padding: 10px;
    color: white;
}

.companyLogo {
    /*margin-right: auto !important;*/
    font-size: 26px !important;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    /* margin: 0 20px; */
    margin-right: auto;
}

.navbar li {
    list-style-type: none;
    text-align: center;
}

.navbar h1 {
    display: inline-block;
}

label {
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
    margin-right: 10px;
}

label span {
    background: #fff;
    border-radius: 10px;
    height: 3px;
    margin: 4px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
    width: 50%;
}

span:nth-of-type(2) {
    width: 100%;
}

span:nth-of-type(3) {
    width: 75%;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(5px, 0px);
}

input[type='checkbox']:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
}

input[type='checkbox']:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(17px, -5px) rotatez(45deg);
}
/* END OF NAVBAR */

/* LANDING PAGE */
.landingRegisterLink {
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
    border: 2px solid #282c34;
    color: black;
    box-shadow: 1px 2px 5px 2px #12121247;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.landingLoginLink {
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
    background: #282c34;
    color: white;
    border: none;
    box-shadow: 1px 2px 5px 2px #12121247;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.viewUserPage {
    border-radius: 5px;
    padding: 10px;
    background: #282c34;
    color: white;
    border: none;
    box-shadow: 1px 2px 5px 2px #12121247;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}
/* END OF LANDING PAGE */

/* LOGIN PAGE */
form {
    text-align: center;
}

input {
    /* display: block !important; */
    /* padding: 5px; */
    /* margin: 10px auto; */
    border: none;
    padding: 0 20px;
}

.loginContainer {
    padding: 20px 40px;
    /* border: 2px solid #282c34; */
    border-radius: 10px;
    text-align: center !important;
    width: 80%;
}

.registerContainer {
    background-color: #ffffff;
    margin: 20px 0;
    padding: 20px 40px;
    border-radius: 10px;
    /* color: white; */
    text-align: center;
    width: 265px;
}

.userInfoContainer {
    background-color: #b6b6b688;
    border-radius: 10px;
    position: fixed;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.registerContainer input {
    border-radius: 10px;
    /* background-color: #e6e6e642; */
    border: 1px solid rgba(181, 181, 181, 0.594);
    margin: 10px 0;
}

.editContainer {
    /* border: 2px solid #282c34; */
    border-radius: 10px;
    text-align: center !important;
}

.joinContainer {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginInput {
    padding: 15px 10px !important;
    font-size: 20px;
}

.grayColor {
    color: rgba(0, 0, 0, 0.514);
}

.loginUserContainer {
    /* border: 2px solid rgba(105, 105, 105, 0.365); */
    border-bottom: 2px solid rgba(105, 105, 105, 0.365);
    /* border-radius: 5px; */
    margin-bottom: 20px;
}

.loginUserIcon {
    display: inline-block;
    border-right: 2px solid rgba(105, 105, 105, 0.365);
    padding: 15px;
}

.loginUserEmail {
    display: inline-block;
    border-right: 2px solid rgba(105, 105, 105, 0.365);
    padding: 15px 13px;
}

.loginPasswordIcon {
    display: inline-block;
    border-right: 2px solid rgba(105, 105, 105, 0.365);
    padding: 15px 13px;
}

.loginLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 20px 10px;
}

.loginPostLink {
    border-radius: 5px;
    padding: 10px;
    background: #282c34;
    color: white;
    border: none;
    box-shadow: 1px 2px 5px 2px #12121247;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    margin-left: auto;
}

.joinLink {
    border-radius: 5px;
    padding: 10px;
    background: #282c34;
    color: white;
    border: none;
    box-shadow: 1px 2px 5px 2px #12121247;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.width80 {
    width: 80%;
    margin: auto;
    text-align: center;
    /* margin-bottom: 30px; */
}
.width802 {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}

.groupChatHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

/* END OF LOGIN PAGE */

/* USERS PAGE */
.userInformation {
    /* border: 2px solid gray; */
    padding: 20px;
}

.testing {
    height: 100%;
    display: flex;
    width: 100%;
    flex-grow: 1;
    /* margin-top: 80px; */
}

.column1 {
    border-right: 2px solid rgba(199, 199, 199, 0.384);
    display: flex;
    flex-direction: column;
}

.column3image {
    flex: 0 0 5%;
}

.column2 {
    background: white;
    border-right: 2px solid rgba(199, 199, 199, 0.384);
}

.column3 {
    background: rgba(225, 225, 225, 0.218);
    display: flex;
    flex-direction: column;
}

.column3dash {
    background: rgba(225, 225, 225, 0.218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.columnItems {
    padding: 15px;
    font-size: 20px;
}

.columnItems2 {
    padding: 15px;
    font-size: 20px;

    display: flex;
    flex-direction: row;

    border-bottom: 2px solid rgba(199, 199, 199, 0.384);
}

.item2 {
    font-size: 40px;
}

#root {
    margin-top: 60px;
    height: calc(100%);
}

.hover {
    color: #282c34;
    cursor: pointer;
}

.hover:hover {
    color: #282c348f;
}

.hover2 {
    color: rgba(90, 90, 90, 0.859);
    cursor: pointer;
}

.hover2:hover {
    color: rgba(90, 90, 90, 0.448);
}

.messageGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid rgba(199, 199, 199, 0.384);
}

.messageBody {
    flex-grow: 1;
    width: 100%;
    min-height: calc(100% - 162px);
    overflow-x: hidden;
    overflow-y: auto;
}

.messageInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: white;
    border-top: 2px solid rgba(199, 199, 199, 0.384);
    padding: 5px 0;
}

.emojiButton {
    flex: 0 0 10%;
    text-align: center;
}

.attatchmentButton {
    flex: 0 0 10%;
    text-align: center;
}

.sendButton {
    flex: 0 0 10%;
    text-align: center;
}

.sendInput {
    padding: 10px 0px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgba(140, 140, 140, 0.469);
    flex: 0 0 65%;
    text-indent: 15px;
    padding-right: 15px;
}

.sendInput2 {
    padding: 15px 0px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgba(140, 140, 140, 0.469);
    flex: 0 0 2%;
    width: 80%;
    margin: 20px auto 0 auto;
    text-indent: 15px;
    padding-right: 10px;
}

.md-form.mt-0 {
    display: inline-flex;
    width: 500px;
}

.material-icons.mdc-button__icon {
    position: absolute;
    top: 7px;
    left: 2px;
}

.incomingMessageUser {
    background-color: #282c3430;
    /* color: white; */
    /* margin: 10px 0px; */
    border-radius: 10px;
    /* padding: 10px 0px; */
    display: inline-block;
    border: 1px solid rgba(140, 140, 140, 0.121);
    margin: 10px 10px 0px 10px;
    padding: 5px 10px;
    text-align: left;
}

.incomingMessageOther {
    background-color: white;
    /* margin: 10px 0px; */
    border-radius: 10px;
    /* padding: 10px 0px; */
    display: inline-block;
    border: 1px solid rgba(140, 140, 140, 0.121);
    margin: 10px 10px 0px 10px;
    padding: 5px 10px;
}

.incomingMessageTimeUser {
    border-radius: 10px;
    margin: 5px 10px 10px 10px;
    font-size: 16px;
}

.incomingMessageTimeOther {
    border-radius: 10px;
    margin: 5px 10px 10px 10px;
    font-size: 16px;
}

.textRight {
    text-align: right;
}

.userImage {
    flex: 0 0 10%;
    text-align: center;
}

.userName {
    flex: 0 0 76%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.chatSettingsButton {
    flex: 0 0 12%;
    text-align: center;
}

.chatExpandButton {
    flex: 0 0 7%;
    text-align: center;
}

.active {
    background-color: rgba(255, 60, 112, 0.614);
    color: white !important;
}

.messageUser {
    /* background-color: rgba(125, 255, 225, 0.859); */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: auto;
    height: 91.5vh !important;
}

.messageUser3 {
    display: flex;
    flex-direction: row;
}

.messageUser2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.messageUser2name {
    flex: 0 0 64%;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    width: 100%;
    display: block;
    overflow: hidden;
}

#togglePassword {
    margin-left: -20px;
    cursor: pointer;
    transform: translateX(-15px);
    width: 20px;
}

.groupLastMessage {
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: block;
    overflow: hidden;
}

.messageUser2messageTime {
    flex: 0 0 20%;
    text-align: right;

    padding: 10px 0;
}

.messageUser3userMessage {
    flex: 0 0 80%;
    text-align: left;
}

.messageUser3messageNumber {
    flex: 0 0 20%;
    text-align: center;
}

.groupContainer {
    width: 80%;
}

.dialogWindow {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    background-color: white;
    position: absolute;
    right: 0;
    top: 111px;
    padding: 10px;
    z-index: 21;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}
